/* div {
    height: 100%
} */

.logo{
    width: 10%;
    padding-left: 5%;
    padding-top: 3%;
}
h4{
    font-family: "Monument Condensed";
    font-size: 2vw;
    color:  #1758FF;
    margin: 0;
}
h2{
    font-family: "Monument Condensed";
    font-size: 2.5vw;
    margin: 0;
}
p{
    font-family: "Monument Condensed";
    font-size: 1.5vw;
    width: 50%;
    margin: 0;
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6%;
}
.container > *{
    margin: 1vw 0;
}
.connectcontainer > *{
    margin: 1% 0;
}
.inscrip{
    font-family: 'Qualta';
}
.truc{
    display: flex;
    flex-direction: column;
    height: 99vh;
    justify-content: space-between;
}
.wrap{
    margin-top: 2vw;
}
@media screen and (max-width: 900px) {
    .asktext{
      font-size: 13pt;
    }
    .titletext{
        font-size: 16pt;
    }
    .lorem{
        font-size: 8pt;
    }

  }