html {
    height: 100%;
}

body {
    font-family: "Qualta";
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: "Monument Extended";
    font-size: 32pt;
    margin: 0;
}

h4 {
    margin: 0;
}

div {
    margin: 0;
}

input {
    height: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.connect-title {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex-field input[type=password] {
    padding-right: 35px;
}

.flex-field input {
    padding-right: 35px;
    z-index: 2500;
}


.flex-field img {
    position: absolute;
    left: 420px;
    top: 26px;
    z-index: 2500;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.img-container img {
    height: 130px;
}

.container {
    grid-column: 1 / 2;
    padding-left: 30px;
    padding-right: 30px;
}

.connect-container {
    width: 450px;
}


.margin {
    margin-top: 30px;
}

.hr-div {
    margin-top: 30px;
}

.line {
    width: 250px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.form {
    margin-top: 30px;
    z-index: 500;
}

.r-image-container {
    grid-column: 2 / 2;
}

.r-image-container img {
    width: 1870px;
}

.basket-img {
    position: absolute;
    top: 360px;
    left: 450px;

}

.basket-img img {
    z-index: 0;
    width: 610px;
    pointer-events: none;
    
}



