# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environments
.env
env/
.credentials
credentials/
Pipfile
Pipfile.lock
poetry.lock

# Log
backend.log

# Package
package-lock.json

node_modules

test.py
data-es.csv
data-es-activites.csv