/* Font */
/* Font */
@font-face {
  font-family: Monument Extended Regular;
  src: url(../../../font/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: Monument Extended UltraBold;
  src: url(../../../font/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: Qualta-Bold;
  src: url(../../font/Qualta-Bold.ttf);
}

@font-face {
  font-family: Qualta-Regular;
  src: url(../../font/Qualta-Regular.ttf);
}
@font-face {
  font-family: "MonumentBold";
  src: local("MonumentBold"),
  url("../../../fonts/Monument/PPMonumentExtended-Black.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "MonumentRegular";
  src: local("MonumentRegular"),
  url("../../../fonts/Monument/PPMonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "QualtaBold";
  src: local("QualtaBold"),
  url("../../../fonts/Qualta/Fontspring-DEMO-pgf-qualta-bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "QualtaRegular";
  src: local("QualtaRegular"),
  url("../../../fonts/Qualta/Fontspring-DEMO-pgf-qualta-regular.otf") format("opentype");
  font-weight: normal;
}
.navbar {
    
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    left: 92%;
  }
  
  .menu-bars {
    display: flex;
    font-size: 1.1rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #FFFF;
    width: 850px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right:  -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    right: 0;
    transition: 350ms;
    background: white;
    z-index: 4;
  }

  .nav-flou{
    right: 0;
    transition: 1000ms;
    background: #171C4F;
    opacity: 50%;
    z-index: 3;
    margin-top: -1vh;
    width: 100%;
    height: 100.3vh;
    position: absolute;
}

  
  .nav-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 133px;
    height: 99.01px;
    border: 1px solid #C6C7D2;
    border-radius: 8px;
  
  }
  
  .nav-text a  {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-family: 'QualtaRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      color: #474D85;
  }
  
  .user{
    width:14px;
    height:14px
  }
  .username{
    font-size: 40px;
    font-family: 'Monument Condensed';
    color: #1758FF;
  }

  .q{
    font-family: 'Qualta-Regular';
  }

  .account{
    display: flex;
    width: 20%;
    padding: 10px;
    border-radius: 25px;
    flex-direction: row;
    background-color: white;
    font-family: 'Monument Condensed';
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    color: #1758FF;
  }

  .deco{
    align-items: center;
    padding-top: 70px;
    text-decoration: none;
  }
  
  .nav-menu-items {
    width: 95%;
    margin:0
  }
  
  .navbar-toggle {
    width: 105%;
    height: 200px;
    display: flex;
    align-items: center;
    margin-left: -5%;
    background: #F7F7FC;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .seidebar > span {
    width: 85px;
    height: 40px;
    text-align: center;
    font-family: 'Qualta-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #474D85;

  }
  
.sidebarTitle {
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    font-family: "QualtaBold";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #171C4F;
}

.sidebar_link-title {
  text-align: center;
}

.sidebar_back-link {
  display: flex;
  font-family: QualtaRegular;
  font-size: 18px;
  line-height: 24px;
  color: #474D85;
  margin-top: 26px;
}

.sidebarContainer{
    display: flex;
    gap: 24px;
}

.trait{
  height: 1px;
    width: 93%;
    background: #E3E4E8;
}

.trait-vert{
  height: 18px;
  width: 2px;
  background-color: #E3E4E8;
}

@media screen and (max-width:1200px) { 
  .nav-menu.active{
    width: 100%;
  }
}