.list-group-item {
    width: -webkit-fill-available;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E3E4E8;
}

.list-group-item:hover {
    background: #E3E4E8;
    cursor: pointer;
}

.list-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    transform: translateY(10px);
}

@media screen and (max-width:580px) {
    .out{
        display: none;
    }
}